@font-face {
  font-family: poppins;
  src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins-ex-bold;
  src: url(assets/fonts/Poppins-ExtraBold.ttf);
}

body {
  font-family: Poppins;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

h1 {
  font-family: poppins-ex-bold;
  margin: 20px auto;
  font-size: 2.5em;
  color: blueviolet;
}

.container {
  position: relative;
  margin: 4vh auto;
  background-color: beige;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 778px;
  border-radius: 25px 25px 150px 25px;
}

.date-container {
  padding: 30px 5vw;
}

.dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5vw;
  color: grey;
}

.dates input {
  width: 85px;
  height: 40px;
  font-size: large;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid silver;
}

.dates input:hover {
  cursor: pointer;
  border: 1px solid blueviolet;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 8px;
}

@media screen and (max-width: 778px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .hr {
    display: block;
    margin: 35px;
  }

  .hr .your-cl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -45px auto 0px;
  }
}

.hr hr {
  width: 100%;
}

.your-cl {
  background: blueviolet center url("assets/images/icon-arrow.svg") no-repeat;
  width: 70px;
  height: 70px;
  -webkit-clip-path: circle();
  clip-path: circle();
}

.your-cl:hover {
  background-color: black;
  cursor: pointer;
}

.age-container {
  font-size: 3.5em;
  font-family: poppins-ex-bold;
  font-style: italic;
}

error {
  color: red;
  font-size: smaller;
  font-style: italic;
}

#year-out,
#month-out,
#day-out {
  color: blueviolet;
}

.attribution {
  font-size: 11px;
  position: static;
  bottom: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.button-cl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 5px;
}
.button {
  display: inline-block;
  text-decoration: none;
  margin: 0 auto;
  color: #120817;
  background-color: #612a79;
  border-radius: 0.25rem;
}
.button:hover span {
  background-color: #d6b4e4;
  cursor: pointer;
}
.button:active span {
  translate: none;
}
.button span {
  display: inherit;
  border-radius: inherit;
  border-color: #d6b4e4;
  background-color: #c9a3d9;
  padding: 1rem 2rem;
  translate: 0.25rem -0.25rem;
  border: 2px solid #612a79;
  -webkit-transition: translate 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background-color 250ms;
  -o-transition: translate 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background-color 250ms;
  transition: translate 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background-color 250ms;
}
